@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  
  @layer utilities {
    .animate-blink {
      animation: blink 1s step-start infinite;
    }
  
    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }

  
@layer utilities {
  @keyframes giggle {
    0%, 100% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
  }

  .animate-giggle {
    animation: giggle 0.2s ease-in-out infinite;
  }

  .animate-giggle-once {
    animation: giggle 0.2s ease-in-out 2;
  }
}


@layer utilities {
  .animate-scroll-left {
    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}





  